.card-view {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
	grid-gap: 60px;
	justify-content: center;
	align-content: center;
	padding-right: 15px;
	padding-left: 15px;
}

@media all and (max-width: 700px) {
	.card-view {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
		grid-gap: 25px;
		justify-content: center;
		align-content: center;
		padding-right: 15px;
		padding-left: 15px;
	}
}

:root {
	--g-text-color-light: rgba(255, 255, 255, 0.93) !important;
}

.image01 {
	width: 100%;
}
